@import "../../app/styles/global.scss";

.invoiceDetailContainer {
  width: 100%;
  display: grid;
  place-items: center;
  align-items: center;
  max-width: 800px;
  height: 100%;

  .editModalId {
    font-weight: 800;
    font-size: large;

    span {
      color: get-color(blue-gray);
      font-weight: bolder;
      font-size: large;
    }
  }

  @include respond-to(mobile) {
    display: flex;
    align-items: start;
    overflow-y: auto;
  }
  @include respond-to(tablet) {
    overflow-y: auto;
    display: flex;
    align-items: start;
  }
}
.overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  // background-color: red;
  background-color: rgba(0, 0, 0, 0.5);
}

.invoiceDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &.dark-mode {
    .status,
    .sectionTitle {
      color: get-color(white);
    }

    .label {
      color: get-color(light-gray);
    }
    .value {
      color: get-color(white);
    }

    .status.pending {
      background-color: rgba(get-color(pending), 0.1);
      color: get-color(pending);
    }

    .status.paid {
      background-color: rgba(get-color(paid), 0.1);
      color: get-color(paid);
    }

    .amountDue {
      background-color: get-color(dark-gray);
      color: get-color(white);
    }

    .button.edit {
      background-color: get-color(medium-blue);
      color: get-color(light-gray);
    }

    .goBack {
      color: get-color(white);
    }

    .statusSection,
    .detailsSection {
      background-color: get-color(dark-blue);
    }
    .statusContainer p {
      color: get-color(light-gray);
    }
    .itemList {
      background-color: get-color(medium-blue);
    }
    .buttonGroupResponsive {
      background-color: get-color(dark-bg);
    }
  }

  &.light-mode {
    color: get-color(dark-blue);

    .status,
    .sectionTitle {
      color: get-color(dark-blue);
    }

    .detailsGrid .label {
      color: get-color(blue-gray);
    }
    .detailsGrid .value {
      color: get-color(dark-gray);
    }

    .status.pending {
      background-color: rgba(get-color(pending), 0.1);
      color: get-color(pending);
    }

    .status.paid {
      background-color: rgba(get-color(paid), 0.1);
      color: get-color(paid);
    }

    .amountDue {
      background-color: get-color(dark-gray);
      color: get-color(white);
    }

    .button.edit {
      background-color: #f9fafe;
      color: get-color(blue-gray);
    }

    .goBack {
      color: get-color(blue-gray);
    }

    .statusContainer p {
      color: get-color(gray);
    }
    .itemList {
      background-color: #00000005;
    }
    .buttonGroupResponsive {
      background-color: get-color(white);
    }
  }

  .goBack {
    font-size: 14px;
    font-weight: 700;
    width: max-content;
    background-color: transparent;
    border: none;
    display: flex;

    align-items: center;
    gap: 15px;
    cursor: pointer;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .invoiceId {
      font-size: 24px;
      font-weight: 700;
    }

    .description {
      font-size: 14px;
      color: get-color(blue-gray);
    }
  }

  .statusSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .statusContainer {
      display: flex;
      align-items: center;
      gap: 15px;

      p {
        font-weight: 500;
        font-size: 13px;
      }
    }
    .status {
      padding: 4px 8px;
      border-radius: 6px;
      font-size: 12px;
      font-weight: 700;
      text-transform: capitalize;

      &.pending {
        background-color: rgba(get-color(pending), 0.1);
        color: get-color(pending);
      }

      &.paid {
        background-color: rgba(get-color(paid), 0.1);
        color: get-color(paid);
      }
    }

    .buttonGroup {
      display: flex;
      gap: 8px;

      .button {
        padding: 8px 16px;
        border: none;
        border-radius: 24px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        transition: opacity 0.3s;

        &:hover:not(:disabled) {
          opacity: 0.9;
        }

        &.delete {
          background-color: get-color(red);
          color: get-color(white);
        }

        &:disabled {
          background-color: get-color(light-gray) !important;
        }

        &.markPaid {
          background-color: get-color(primary-purple);
          color: get-color(white);
        }

        .button:disabled {
          background-color: get-color(light-gray) !important;
          cursor: not-allowed !important;
        }
      }
    }
  }

  .detailsSection {
    border-radius: 8px;
    padding: 30px;
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .detailsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 24px;

    .label {
      font-size: 13px;
      font-weight: 500;
      margin: 15px 0;
    }

    .value {
      font-size: 15px;
      font-weight: bold;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      span {
        margin: 2px 0;
      }
    }
    .address {
      margin-bottom: 0 !important;
    }
  }

  .tableSection {
    flex: 1;
    justify-self: flex-end;
  }

  .itemList {
    padding: 20px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    .itemRow {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      gap: 16px;
      margin-bottom: 16px;

      .label {
        font-size: 12px;
        font-weight: 500;
      }

      .value {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .amountDue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: get-color(dark-gray);
    font-size: 16px;
    font-weight: 700;
    color: get-color(white);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  @include respond-to(mobile) {
    padding: 0px !important;
    padding-bottom: 80px !important;

    .header {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    .detailsGrid {
      grid-template-columns: 1fr;
    }

    .itemRow {
      grid-template-columns: 1fr;
      gap: 8px;
    }

    .statusSection {
      padding: 10px !important;

      .statusContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .buttonGroupDesktop {
        display: none;
      }

      .itemList {
        padding: 5px !important;
      }
    }
    .detailsSection {
      padding: 10px !important;
    }
  }

  @include respond-to(tablet) {
    padding: 16px;

    .header {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    .detailsGrid {
      grid-template-columns: 1fr;
    }

    .itemRow {
      grid-template-columns: 1fr;
      gap: 8px;
    }
  }
}

.buttonGroupResponsive {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: none !important;
  align-items: center;
  justify-content: center;

  @include respond-to(mobile) {
    display: flex !important;
  }
}
