@import "./global.scss";

.dashboardLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100dvh;

  &.light-mode {
    background-color: get-color(light-bg);
    color: get-color(dark-blue);
  }

  &.dark-mode {
    background-color: get-color(dark-bg);
    color: get-color(light-gray);
  }
}

.children {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

// Responsive design
@include respond-to(mobile) {
  .children {
    padding: 5px !important;
  }
}

@include respond-to(tablet) {
  .dashboardLayout {
    flex-direction: column;
    width: 100%;
  }

  .children {
    padding: 10px;
    align-items: flex-start;
  }
}
