@import "../../app/styles/global.scss";

.sideBar {
  width: 103px;
  background-color: get-color(draft);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.profileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profileImage {
  //   border: 1px solid #494e6e;
  border-top: 1px solid #494e6e;
  width: 100%;
  padding: 20px;
  display: grid;
  place-items: center;
}

.darkModeToggleContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
}
