@import "../../app/styles/global.scss";

.invoiceCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px !important;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(get-color(dark-gray), 0.1);
  border: 1px solid transparent;
  transition: var(--transition);

  &.light-mode {
    background-color: get-color(light-bg);
    color: get-color(dark-blue);

    &.draft {
      .status {
        color: get-color(draft);
        background-color: rgba(get-color(draft), 0.1);
      }
    }

    &.pending {
      .status {
        color: get-color(pending);
        background-color: rgba(get-color(pending), 0.1);
      }
    }

    &.paid {
      .status {
        color: get-color(paid);
        background-color: rgba(get-color(paid), 0.1);
      }
    }
  }

  &.dark-mode {
    background-color: get-color(medium-blue);
    color: get-color(light-gray);

    &.draft {
      .status {
        color: get-color(white); // White in dark mode
        background-color: rgba(get-color(dark-gray), 0.1);
      }
    }

    &.pending {
      .status {
        color: get-color(pending);
        background-color: rgba(get-color(pending), 0.1);
      }
    }

    &.paid {
      .status {
        color: get-color(paid);
        background-color: rgba(get-color(paid), 0.1);
      }
    }

    .paymentDue,
    .clientName,
    .total {
      color: get-color(white);
    }
  }

  &:hover {
    border: 1px solid get-color(primary-purple);
  }

  .rightSection,
  .leftSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 20px;
    // padding: ;
  }

  .rightSection {
    flex-basis: 40%;
    justify-content: flex-end;

    .arrow {
      padding: 10px;
    }
  }

  .leftSection {
    flex: 1;
    margin-left: 20px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
  }
}

.id {
  font-weight: 800;
  font-size: large;

  span {
    color: get-color(blue-gray);
    font-weight: bolder;
    font-size: large;
  }
}

.clientName {
  color: get-color(gray);
}

.total {
  font-weight: 700;
  color: get-color(dark-gray);
}

.status {
  text-transform: capitalize;
  margin-left: 20px;
  font-weight: 800;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 104px;
  height: 40px;
  gap: 5px;
}

.paymentDue {
  color: get-color(blue-gray);
}

// Responsive design
@include respond-to(mobile) {
  .invoiceCard {
    display: none;
  }
}
@include respond-above(tablet) {
  .invoiceCard {
    flex-direction: row;
    align-items: center;
    height: 100%;
    .leftSection,
    .rightSection {
      width: auto;
    }

    .status,
    .paymentDue {
      margin-left: 20px;
      text-align: center;
    }
  }
}
