@import "../../app/styles/global";

.dashboard {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  &.light-mode {
    background-color: get-color(light-bg);
    color: get-color(dark-blue);
  }

  &.dark-mode {
    background-color: get-color(dark-bg);
    color: get-color(light-gray);
  }
}

.loading {
  text-align: center;
  font-size: 18px;
  color: get-color(gray);
}

.error {
  text-align: center;
  color: get-color(red);
  font-size: 16px;
}

// Responsive design
@include respond-to(mobile) {
  .dashboard {
    width: 100%;

    flex-direction: column;
    height: 100%;
  }
}

@include respond-to(tablet) {
  .dashboard {
    width: 100%;

    flex-direction: column;
    height: 100%;
  }
}
